
@import "../../../consts/colors.scss";

.header-container {
    width: 100%;
    height: 8vh;
    max-height: 8vh;
    background-color: $primary;
    color : $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        overflow-x: auto;
        white-space: nowrap;
        li {
            a {
                text-decoration: none;
                color: $white;
                font-size: 1.3rem;
                font-weight: 500;
                &::after {
                    content: '';
                    position:relative;
                    width: 0;
                    height: 2px;
                    display: block;
                    margin-top: 2px;
                    left: 50%;
                    background: $accent;
                    transition: all 0.2s ease;
                }
                &:hover::after {
                    width: 100%;
                    left: 0;
                }
                &:active::after {
                    width: 50%;
                    left: 25%;
                }
            }
        }
    }

    .search-container{
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        input {
            width: 40%;
            height: 24px;
            border: .1px;
            border-radius: 5px;
            padding-left: 2%;
            margin-right: 2%;
            transition: all 0.2s;
            
        }
        button {
            height: 24px;
            width: 15%;
            border: 0;
            border-radius: 5px;
            font-size: .8em;
            font-weight: 600;
            color: $white;
            background-color: $accent;
            transition: all 0.1s;
            &:hover {
                background-color: $accent-variant;
            }
            &:active {
                background-color: $accent-variant-2;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header-container {
        .search-container{
            width: 50%;
            margin-left: 8%;
        }
    }
}

@media (max-width: 768px) {
    .header-container {
        .search-container {
            margin-left: 20px;
            width: 50%;
            input {
                width: 45%;
                transition: all 0.2s;
                &:hover {
                    width: 63%;
                }
                &:hover + button {
                    width: 27%;
                }
            }
            button {
                width: 45%;
                transition: all 0.2s;
            }
        }
        ul {
            width: 50%;
            margin: 0;
            padding: 5px;
            scrollbar-width: thin;
            scrollbar-color: rgba($accent-variant-2, 0.4) transparent;
            li {
                a {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

