// Aqui definimos los nombres de los colores que usaremos en toda la aplicacion

$primary: #0F0F0F;
$accent: #005B41;
$primary-variant: #232D3F;
$accent-variant: #008170;

/*
$primary: #070F2B;
$accent: #1B1A55;
$primary-variant: #535C91;
$accent-variant: #9290C3;
*/