
@import '../../../consts/colors.scss';


.form-movie-container {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/backgorund-homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .page-title {
        color: $white;
        font-size: 2em;
        font-weight: 500;
        @media (min-width: 768px) {
            padding-right: 30vw;
        }
    }


    .input-data-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 40px 60px;
        margin-bottom: 20px;
        border-radius: 30px;
        background-color: rgba($accent-variant, 0.4);
        box-shadow: 5px 5px 7px rgba($color: $black, $alpha: .6);
        transition: all .3s ease;
        &:hover {
            background-color: rgba($accent-variant-2, 0.4);
        }
        @media (max-width: 768px) {
            padding: 40px 15px;
        }
    }

}