// Importamos el archivo donde tenemos guardados nuestras variables de colores
@import "../../../consts/variables.scss";


.footer-container {
    background-color: $accent;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: .9em;
    position: absolute; // Esto nos permite colocar el footer siempre abajo de la pagina
    bottom: 0;
}